<div>
    <h2>Carte de notre prochaine randonnée</h2>

    <div>
        <input 
            type="text" 
            value=""
            class="start"
            placeholder="votre point de départ" 
            [(ngModel)]="startingPoint"
        />
        <button 
            class="btn btn-primary" 
            (click)="geocode()">
                localiser
        </button>
    </div>

    <br>

  <div>
        <form (submit)="addMarkerByCoords(form.value)" #form="ngForm">
            <label for="markerByCoordsLat">Latitude</label>
            <input type="text" name="markerByCoordsLat" ngModel id="markerByCoordsLat">

            <label for="markerByCoordsLng">Latitude</label>
            <input type="text" name="markerByCoordsLng" ngModel id="markerByCoordsLng">

            <button type="submit">Ajouter</button>
        </form>
    </div>

    {{ form.value | json }}


    <agm-map [latitude]="lat" [longitude]="lng">
        <agm-marker 
            [latitude]="lat" 
            [longitude]="lng"
            [markerDraggable]="true"
            (dragEnd)="onCoordMarkerDropped($event)"
            >
        </agm-marker>

        <agm-marker *ngFor="let m of markers"
            [latitude]="m.lat" 
            [longitude]="m.lng"
            [markerDraggable]="m.draggable"
            >
        </agm-marker>

       <agm-marker *ngFor="let m of markersFromCoords"
            [latitude]="m.lat" 
            [longitude]="m.lng"
            [markerDraggable]="m.draggable"
            [iconUrl]= "m.icon">
        </agm-marker>
    </agm-map>
</div>


<div *ngIf="markerWasDropped">
    latitude : {{droppedLat}} - longitude : {{droppedLng }}
</div>

<div *ngIf="!markerWasDropped">
    Veuillez déplacer le marqueur pour obtenir des coordonnées GPS
</div>