<div>
    <h2>Carte de notre prochaine randonnée</h2>

    <div>
        <button (click)="geocode()">localiser</button>
    </div>

    <agm-map [latitude]="lat" [longitude]="lng">
        <agm-marker 
            [latitude]="lat" 
            [longitude]="lng"
            [markerDraggable]="true"
            (dragEnd)="onCoordMarkerDropped($event)"
            >
        </agm-marker>

        <agm-marker *ngFor="let m of markers"
            [latitude]="m.lat" 
            [longitude]="m.lng"
            [markerDraggable]="m.draggable"
            >
        </agm-marker>
    </agm-map>
</div>
<div *ngIf="markerWasDropped">
    latitude : {{droppedLat}} - longitude : {{droppedLng }}
</div>

<div *ngIf="!markerWasDropped">
    Veuillez déplacer le marqueur pour obtenir des coordonnées GPS
</div>