<h2>Contactez-nous</h2>

<form #form="ngForm" (submit)="sendMessage(form)" novalidate>
    <div class="form-group"
        [class.has-error]="msgSubject.invalid && msgSubject.touched">
        <label for="subject" class="control-label">Sujet</label>
        <input  type="text"
                #msgSubject="ngModel"
                name="subject" 
                ngModel
                required
                class="form-control" 
                placeholder="sujet" 
                id="subject">
                <div *ngIf="msgSubject.invalid && msgSubject.touched">sujet manquant</div>
    </div>

    <div class="form-group"
    [class.has-error]="msgContent.invalid && msgContent.touched">
        <label for="message" class="control-label">Message</label>
        <textarea   type="text" 
                    #msgContent="ngModel"
                    name="message"
                    required
                    ngModel
                    class="form-control"  
                    id="message">
        </textarea>
        <div *ngIf="msgContent.invalid && msgContent.touched">sujet manquant</div>
        
    </div>

    <div class="form-group">
        <label for="service">Service</label>
        <select name="service" 
                ngModel 
                class="form-control" 
                id="service">
            <option value="tech">technique</option>
            <option value="sales">commercial</option>
            <option value="guide">guide moyenne montagne</option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">envoyer</button>

</form>

Form : {{ form.valid | json }}
Sujet : {{msgSubject.valid}}